@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap');

body {
  margin: 0px;
  background-color: #16191C ;
  /*width: 1920px;*/
  /*height: 1080px;*/
  margin: auto;
}

/*///////////////////header-block//////////////////////////*/
.LPR-block{
  margin: 0% 0% 0% 0%;
  height: 100%;
  box-sizing: border-box;
  background-color: #252a2f ;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid #252a2f ;
  }
  @media (max-width: 576px) {
    .LPR-block {
      margin: 0% 2% 0% 2%;
      height: 60px; } }
  @media (min-width: 576px) {
    .LPR-block {
      margin: 0% 2% 0% 2%;
      height: 60px; } }
  @media (min-width: 768px) {
    .LPR-block {
      margin: 0% 1% 0% 1%;
      height: 60px; } }
  @media (min-width: 992px) {
    .LPR-block {
      margin: -0.25% -6% 0% -6%;
      height: 60px; } }
  @media (min-width: 1200px) {
    .LPR-block {
      margin: -0.25% -6% 0% -6%;
      height: 60px; } }

.Block-Highlight{
  display: none;
  position:absolute;
  background-color: #FD5858;
  width: 10px;
  height: 59px;
}


.LPR-block:hover{
  background-color: #212529;
}

.LPR-block:active, .LPR-block:focus{
  background: #212529;
  border: 3px solid #00AEEF !important;
}

/*.LPR-block:focus > .Block-Highlight{
  display: block;
}*/


.LPR-block h3{

  color: white;
  font-size: 16px;
  top: 25%;
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
}

.top-header-group{
  display: flex; 
  justify-content: space-between;
}

.LPR-line1{
    display: flex; 
    justify-content: space-between;
    padding-top: 1.5%;
    padding-bottom: 0.25%;
}
.LPR-line2{
    display: flex; 
    justify-content: space-between;
}
.Tracking-LPR{
    position: absolute;
    left: 10px;
    top: 7px;
    width: 50px;
    height: 75%;
}
.text-name {
  position: relative;
  left: 70px;
  top: 5px;
}

.text-name h3 {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    cursor: pointer;
}



.text-province {
    position: relative;
    left: -11px;
    top: 5px;
}

.text-province h3 {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    cursor: pointer;
}



.text-time {
  position: relative;
  left: 70px;
  top: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 21em;  
}

.text-time h3 {
    font-size: 10px;
    color: #768089;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.text-device {
    position: relative;
    right: 2%;
}

.text-device h3 {
  position: relative;
  color: #768089;
  font-size: 10px;
  top: 14px;
}




/*************************************row-col-structure************************************/

.row-history  {
  height: 210px;; /*set height*/
  /*border:2px solid #292F33;*/
  width:auto;
  margin-bottom:10px;
  padding:2px;
  }
  @media (max-width: 576px) {
    .row-history {
      height:64px; } }
  @media (min-width: 576px) {
    .row-history {
      height:64px; } }
  @media (min-width: 768px) {
    .row-history {
      height:64px; } }
  @media (min-width: 992px) {
    .row-history {
      height:64px;
      margin: 2px 5px; } }
  @media (min-width: 1200px) {
    .row-history {
      height: 63px;
      margin: 2px 5px;} }

      

